@keyframes fade-in-slide-down {
	0% {
		transform: translate(0, -25px);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}

// animation: fade-in-slide-up 0.5s 1 ease-out;
@keyframes fade-in-slide-up {
	0% {
		transform: translate(0, 25px);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
